@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
html, body{
  transition: all 2s ease;
}
body{
  background: var(--bg-color);
  color: var(--primary);
  box-shadow: 0 4px 6px var(--shadow);
}
:root {
  --primary: black;
  --bg-color: #ffffff;
  --shadow: rgba(0,0,0,0.3);
}
.dark-mode {
  --bg-color: #181818;
  --primary: white;
  --shadow: rgba(189, 189, 189, 0.3);
}

.naving{
  background-color:var(--bg-color);
  color: var(--primary);
  transition: all 2s ease;

}
.nav-animation {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: animate 0.6s ease-in forwards;
}
@keyframes animate {
  to {
    top: 70px;
    opacity: 1;
  }
}

.nav-li {
  @apply cursor-pointer uppercase font-bold;
  position: relative;
}
.nav-li::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #0eabe9;
  transition: width 0.3s ease;
}
.nav-li:hover {
  transition: 0.3s ease;
  transform: translateY(-10px);
}
.nav-li:hover::after {
  width: 100%;
  box-sizing: border-box;
}

.hero h1{
    font-family: "Sansita";
    font-weight: bold;
}
.hero button{
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin-top: 60px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.hero button::after{
    content: "";
    position: absolute;
    left: -5px;
    top: -30px;
    z-index: -1;
    width: 0%;
    height: 210%;
    transform: rotate(-15deg);
    background-color: #0eabe9;
    transition: all 0.5s ease;
}
.hero button:hover::after{
    width: 110%;
}
/* Classmates Section Start Here */
#classmates{
  background-color: var(--bg-color);
  transition: background-color 2s ease;
}
#classmates-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg-color);
  transition: background-color 2s ease;
}
.classmate {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 2px 2px 5px var(--shadow);
  transition: all 2s;
  animation: fadeInUp 0.5s forwards;
}
.classmate:hover{
  transform: scale(1.1);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.boxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  border: 2px solid #999;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all 1s ease;
  cursor: pointer;
}
.img-container:hover{
  transition: all 1s ease;
  overflow: visible;
  height: 100%;
  width: 100%;
}

.classmate-img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  transition: all 1s ease;
}
.img-container:hover .classmate-img{
  transition: all 1s ease;
  object-fit: fill;
}

.classmate-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: Sansita;
}

.classmate-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.classmate-span {
  color: #0eabe9;
  font-style: italic;
}

.classmate-info {
  display: flex;
  font-size: 50px;
  flex-direction: row;
  font-size: 0.85rem;
  gap: 0.5rem;
}
.classmate-link{
  background-color: #0eabe9;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
}
/* Search css */
.suggestion-container{
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: var(--bg-color);
  width: calc(100% - 2px);
  z-index: 1000;
}
.suggestion-item{
  padding: 8px;
}
.suggestion-item:hover{
  background-color: #f0f0f0;
}

@media (min-width: 10px) and (max-width: 500px){
  #classmates-container{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 501px) and (max-width: 900px){
  #classmates-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) and (max-width: 1500px){
  #classmates-container{
    width: 92%;
  }
}
@media screen and (min-width: 1599px){
  #classmates-container{
    width: 75%;
  }
}
